<%inherit file="../base.html"/>
<%block name="header_section">
	<script type="text/javascript" src="${static_url('js/shortcuts.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/apps/controls/checkControls.min.js')}"></script>
</%block>
<%block name="breadcrumbs">
	<ul id="breadcrumbs" class="breadcrumb" data-key='{"id_per":${ct.embarazo.embarazada.id_per},"id_emb":${ct.embarazo.id_emb}}'>
		<li><a href="/">Inicio</a></li>
		<li><a href="/embarazadas/gestion">Embarazadas</a></li>
		<li><a href="#" class="backPregnant">${ct.embarazo.embarazada}</a></li>
		<li><a href="#" class="backControl">Controles</a></li>
		<li class="active">Registro de Asistencia</li>
	</ul>
</%block>
<%block name="left_content">
	<form class="SimpleForm">
		${xsrf_form_html()}
		<input type="hidden" name="id_cnt" value="${ct.id_cnt}" readonly>
		<legend class="text-center">Registro de Asistencia</legend>
		<fieldset class="form-group" disabled>
			<div class="input-group">
				<span class="input-group-addon">Nro. de Control</span>
				<span class="form-control input-sm">${ct.nro_con}</span>
			</div>
		</fieldset>
		<fieldset class="form-group">
			<label>Asistencia:</label><br>
			<label class="radio-inline"><input type="radio" name="asistido" id="inputAsist" value="True" checked> Asistido</label>
			<label class="radio-inline"><input type="radio" name="asistido" id="inputAuset" value="False"> Ausente</label>
		</fieldset>
		<fieldset class="form-group">
			<label>Observaciones:</label>
			<textarea name="observacion" class="form-control input-sm only_comments">${ct.observacion or ""}</textarea>
		</fieldset>
		<div class="clear-fix"></div>
		<fieldset class="form-group">
			<button type="button" id="cancel" class="btn btn-sm btn-warning">Regresar</button>
			<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
		</fieldset>
	</form>
</%block>