<%inherit file="../base.html"/>
<%block name="header_section">
	<style type="text/css" media="all">
		#left-content > .fix-table {
			width: 100%!important;
		}
		#left-content .rowBox {
			-webkit-box-ordinal-group: 1 !important;
			-webkit-order: 0 !important;
			   -moz-box-ordinal-group: 1 !important;
			    -ms-flex-order: 0 !important;
			        order: 0 !important;
		}
		#left-content #second_position {
			-webkit-box-ordinal-group: 2 !important;
			-webkit-order: 1 !important;
			   -moz-box-ordinal-group: 2 !important;
			    -ms-flex-order: 1 !important;
			        order: 1 !important;
		}
		#left-content #thrid_position {
			display: none;
			-webkit-box-ordinal-group: 3 !important;
			-webkit-order: 2 !important;
			   -moz-box-ordinal-group: 3 !important;
			    -ms-flex-order: 2 !important;
			        order: 2 !important;
		}
	</style>
	<link href="${static_url('css/dataTables.bootstrap.min.css')}" rel="stylesheet" media="all">
	<script type="text/javascript" charset="iso-8859-1" src="${static_url('js/jquery.dataTables.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/dataTables.bootstrap.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/customPaginator.min.js')}"></script>
	<script type="text/javascript">
		$(function(){
			$('.home-menu').addClass('active');
			var c_filter = [
					{val:'Gestando', label:'Embarazadas', def:true},
					{val:'Embarazo de Riesgo', label:'Embarazos de Riesgo'},
				],
				o_title = $('#custom_title');
			$('#datatable-0').customPaginator({'bPaginate':false,range:[3,5]}).cfilter(c_filter);
			$('#datatable-1').customPaginator({'bPaginate':false,range:[3,5]});
			var main_grid = $('[id$="0_wrapper"]');
			main_grid.find('.cfilter').addClass('hidden');
			$('.womens, .pregnants, .risk_pregnancies').on({
				click:function(e){
					e.preventDefault();
					$('.fix-table').eq(1).attr('id','thrid_position').end().eq(0).attr('id','second_position');
					var o_box = $(this), o_filter = main_grid.find('.cfilter');
					o_filter.find('option:selected').attr('selected',false).end();
					if(o_box.hasClass('womens')){
						o_title.text('Mujeres Registradas');
						o_filter.val('-1').trigger('change');
					}
					else if(o_box.hasClass('pregnants')){
						o_title.text('Embarazadas');
						o_filter.val('Gestando').trigger('change');
					}
					else if(o_box.hasClass('risk_pregnancies')){
						o_title.text('Embarazos de Riesgo');
						o_filter.val('Embarazo de Riesgo').trigger('change');
					}
				}
			});
			$('.childrens').on({
				click:function(e){
					e.preventDefault();
					$('.fix-table').eq(0).attr('id','thrid_position').end().eq(1).attr('id','second_position').end();
					$('[id$="1_wrapper"]').find('.dataTables_filter').find('input').val(' ').trigger('keyup').val('').trigger('keyup');
				}
			});
		});
	</script>
</%block>
<%block name="breadcrumbs">
	<ul id="breadcrumbs" class="breadcrumb">
		<li class="active">Inicio</li>
	</ul>
</%block>
<%block name="left_content">
	<div class="rowBox">
		<div class="inner-box womens">
			<span class="number badge">${total_mujeres}</span>
			<p class="texto">Mujeres Registradas</p>
		</div>
		<div class="inner-box pregnants">
			<span class="number badge">${total_embarazos}</span>
			<p class="texto">Mujeres Embarazadas</p>
		</div>
		<div class="inner-box risk_pregnancies">
			<span class="number badge">${total_riesgos}</span>
			<p class="texto">Embarazos de Riesgos</p>
		</div>
		<div class="inner-box childrens">
			<span class="number badge">${total_bebes}</span>
			<p class="texto">Recién Nacidos</p>
		</div>
		<div class="inner-box">
			<span class="number badge">${total_controles}</span>
			<p class="texto">Controles Atendidos</p>
		</div>
	</div>
	<div id="second_position" class="fix-table">
		<%def name="checkWeek(pregnant)">
			<%
				if emb_status(pregnant)[0]==2:
					currweek = pregnancyWeek(pregnant)
					return (currweek, '' if 1<=currweek<=29 else 'info' if 30<=currweek<=35 else 'warning' if 36<=currweek<=40 else 'danger')
				else:
					return ('','')
			%>
		</%def>
		<table id="datatable-0" class="table table-hover table-bordered" width="99.8%" cellspacing="0">
			<%def name="test(n)">
				% for i in xrange(n):
					<tr>
						<td>${'{:4}'.format(i+1)}</td>
						<td>Juana de Arco</td>
						<td>&nbsp;</td>
					</tr>
				% endfor
			</%def>
			<%def name="checkTypes(types)">
				<%
					for tp in types:
						if tp.nombre==u'EMBARAZADA':
							return True
					else:
						return False
				%>
			</%def>
			<thead>
				<tr>
					<th colspan="4" id="custom_title" class="text-center">Embarazadas</th>
				</tr>
				<tr>
					<th>Embarazada</th>
					<th>Celular</th>
					<th>Semana</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				% for em in mujeres:
					<tr>
						<td>
						% if checkTypes(em.tipos):
							<a href="/embarazos/gestion?id_per=${em.id_per}" class="link">${em}</a>
						% else:
							<a href="/personas/modificar?id_per=${em.id_per}" class="link" title="Contacto">${em}</a>
						% endif
						</td>
						<td>${'{}'.format(em.telf or (em.contacto.telf if em.contacto else ''))}</td>
						<td class="${checkWeek(em)[1]}">${checkWeek(em)[0]}</td>
						<td>${emb_status(em)[1]}</td>
					</tr>
				% endfor
			</tbody>
		</table>
	</div>
	<div id="thrid_position" class="fix-table">
		<table id="datatable-1" class="table table-hover table-bordered" width="99.8%" cellspacing="0">
			<thead>
				<tr><th colspan="4" class="text-center">Recién Nacidos</th></tr>
				<tr>
					<th>Nombres y Apellidos</th>
					<th>Edad</th>
					<th>Sexo</th>
					<th>Madre</th>
				</tr>
			</thead>
			<tbody>
				% for ch in bebes:
					<tr>
						<td><a href="/controles/gestion?id_rcn=${ch.id_rcn}">${ch}</a></td>
						<td>${u'{} días'.format(ch.current_age())}</td>
						<td>${'Femenino' if ch.sexo=='f' else 'Masculino'}</td>
						<td>${ch.embarazo.embarazada}</td>
					</tr>
				% endfor
			</tbody>
		</table>
	</div>
</%block>