<%inherit file="../base.html"/>
<%block name="header_section">
	<link href="${static_url('css/dataTables.bootstrap.min.css')}" rel="stylesheet" media="all">
	<script type="text/javascript" charset="iso-8859-1" src="${static_url('js/jquery.dataTables.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/dataTables.bootstrap.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/customPaginator.min.js')}"></script>
	<script type="text/javascript">
		$(function(){
			$('.manager-menu, .user-sub').addClass('active');
			$('#custom').customPaginator();
		});
	</script>
</%block>
<%block name="breadcrumbs">
	<ul id="breadcrumbs" class="breadcrumb">
		<li><a href="/">Inicio</a></li>
		<li class="active">Usuarios</li>
	</ul>
</%block>
<%block name="left_content">
	<div class="btn-actions">
		<a href="/usuarios/nuevo_usuario" class="btn btn-sm btn-primary">Nuevo Usuario</a>
	</div>
	<div class="fix-table">
		<table id="custom" class="table table-hover table-bordered" width="99.8%" cellspacing="0">
			<thead>
				<tr>
					<th colspan="6" class="text-center">Usuarios</th>
				</tr>
				<tr>
					<th>Usuario</th>
					<th>Celular</th>
					<th>Persona</th>
					<th>Rol</th>
					<th>Asignación</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				% for us in usuarios:
					<tr>
						<td><a href="/usuarios/modificar_usuario?persona=${us.persona.id_per}" title="Modificar">${us.login}</a></td>
						<td>${us.persona.telf}</td>
						<td>${us.persona}</td>
						<td>${us.rol}</td>
						<td>
							${"Global" if us.alcance==u"1" else "Red {}".format(us.red_salud) if us.red_salud else "Municipio {}".format(us.municipio) if us.municipio else "Establecimiento {}".format(us.centro_salud) if us.centro_salud else ""}
						</td>
						<td class="activo">${"Habilitado" if us.activo else "Inhabilitado"}</td>
					</tr>
				% endfor
			</tbody>
		</table>
	</div>
</%block>