<%inherit file="../base.html"/>
<%block name="header_section">
	<style type="text/css" media="all">
		hr{border-color: #000;}
	</style>
	<link href="${static_url('css/datetimepicker.min.css')}" rel="stylesheet" media="all">
	<script type="text/javascript" charset="iso-8859-1" src="${static_url('js/jasny-bootstrap.min.js')}"></script>
	<script type="text/javascript" charset="iso-8859-1" src="${static_url('js/moment.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/datetimepicker.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/apps/pregnancies/newBorn.min.js')}"></script>
</%block>
<%block name="breadcrumbs">
	<ul id="breadcrumbs" class="breadcrumb" data-key='{"id":${em.embarazada.id_per},"id_emb":${em.id_emb},"lastname":"${em.embarazada.apellidos}"}'>
		<li><a href="/">Inicio</a></li>
		<li><a href="/embarazadas/gestion">Embarazadas</a></li>
		<li><a href="#" class="pregnant">${em.embarazada}</a></li>
		<li><a href="#" class="back">Controles</a></li>
		<li class="active">Registro de Parto</li>
	</ul>
</%block>
<%block name="left_content">
	<form class="big-form">
		${xsrf_form_html()}
		<input type="hidden" name="id_emb" value="${em.id_emb}" readonly>
		<div class="inner-container">
			<div class="left-side">
				<legend>Registro de Parto</legend>
				<div class="row">
					<fieldset class="form-group has-feedback col-sm-6">
						<label for="inputParto_inst">Fecha de Parto:</label>
						<input type="text" name="parto_inst" id="inputParto_inst" value="${to_ddmmyy(utc.now().date())}" class="form-control input-sm only_date" required>
						<span class="form-control-feedback"></span>
						<p class="help-block">Día/Mes/Año</p>
					</fieldset>
					<fieldset class="form-group col-sm-6">
						<label for="">Tipo de Parto:</label>
						<select name="tipo" id="inputTipo" class="form-control input-sm c_select" required>
							<option value="-1">-- Elija Uno --</option>
							<option value="1">Institucional</option>
							<option value="2">Domiciliario</option>
						</select>
					</fieldset>
				</div>
				<div class="clear-fix"></div>
			</div>
			<div class="right-side">
				<legend>Recién Nacido(s)&nbsp;<i class="del btn btn-danger btn-xs fa fa-times"></i>&nbsp;<i class="add btn btn-info btn-xs fa fa-plus"></i></legend>
				<div class="new_born">
					<div class="row">
						<fieldset class="form-group col-sm-6">
							<label>Sexo:</label>
							<select name="sexo0" class="form-control input-sm c_select" required>
								<option value="-1">-- Elija Uno --</option>
								<option value="f">Femenino</option>
								<option value="m">Masculino</option>
							</select>
						</fieldset>
						<fieldset class="form-group has-feedback col-sm-6">
							<label>Peso:</label>
							<div class="input-group">
								<span class="input-group-addon">Kilogramo</span>
								<input type="text" name="peso" class="form-control input-sm only_neonato_weight" required>
								<span class="form-control-feedback"></span>
							</div>
						</fieldset>
					</div>
					<div class="row">
						<fieldset class="form-group has-feedback col-sm-5">
							<label>Nombre(s):</label>
							<input type="text" name="nombres" class="form-control input-sm only_p_names">
							<span class="form-control-feedback"></span>
						</fieldset>
						<fieldset class="form-group has-feedback col-sm-7">
							<label>Apellidos:</label>
							<input type="text" name="apellidos" value="${em.embarazada.apellidos}" class="form-control input-sm only_p_lastnames">
							<span class="form-control-feedback"></span>
						</fieldset>
					</div>
				</div>
				<div class="clear-fix"></div>
			</div>
		</div>
		<fieldset class="form-group">
			<button type="button" id="back" class="btn btn-sm btn-warning">Regresar</button>
			<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
		</fieldset>
	</form>
</%block>